.job-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.mat-list-option {
  border: 1px solid #ccc;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.jobs{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  border: 1px solid #ccc;
}
.button{
  display: inline;
}

.red{
  color: rgb(255, 0, 140);
}
.bold{
  font-weight: bold;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


