<div *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoading" class="table">
  <table mat-table [dataSource]="users" color="primary">
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Name Character </th>
      <td mat-cell *matCellDef="let user"> {{user.characterName}} </td>
    </ng-container>
    <ng-container matColumnDef="race">
      <th mat-header-cell *matHeaderCellDef> Race </th>
      <td mat-cell *matCellDef="let user"> {{user.race.name}} </td>
    </ng-container>
    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef> Rank </th>
      <td mat-cell *matCellDef="let user"> {{user.rank.name}} </td>
    </ng-container>
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let user"> {{user.gender}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let user"> <button mat-icon-button [matMenuTriggerFor]="actions" matTooltip="Actions"><mat-icon>settings</mat-icon></button>
        <mat-menu #actions="matMenu">
          <button mat-menu-item routerLink="router-link-active" (click)="getUserById(user.id)" >Details</button>
          <button mat-menu-item>Update</button>
          <button mat-menu-item>Delete</button>
          <button mat-menu-item>Report</button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <br>
</div>
