.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &mat-form-field{
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
  }
  &button{
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
  }
}
a{
  color: #ffffff;
  text-decoration: none;
  padding: 5px 5px;
  background-color: #c2185b;
  border-radius: 5px;
    cursor: pointer;
}
